body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}
main {
  width: 100%;
}
footer {
  height: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer .copyright a {
  color: #444;
}
footer .copyright a:hover {
  color: #555;
}
/* footer .copyright:before {
  content: '©';
} */
.course-link {
  background-image: url(https://rs.school/images/partners/logo-rs.svg);
}
.course-link,
.github-link {
  display: block;
  background-size: contain;
  width: 60px;
  height: 50px;
  transition: all 0.3s;
}
.course-link:hover,
.github-link:hover {
  transform: scale(1.05);
}
.github-link {
  background-image: url(https://static-00.iconduck.com/assets.00/github-icon-512x499-ziwq0a1i.png);
  width: 50px;
}
