.layout-2col {

    &.not-only__wrapper {
        background-image: url(../img/start-screen-puppy.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;

        @include small-desktop {
            background-size: 45%;
        }

        @include tablet {
            background-size: 56.9rem;
        }
        @include small-tablet {
            background-size: 75%;
        }
        @include mobile {
            background-size: 26rem;
        }
    }

    &.about__wrapper {
        @include flex($gap:12rem, $justify-content:center);
        padding: $padding-desktop-top 0 $padding-desktop-bottom 0;

        @include tablet {
            flex-direction: column-reverse;
            gap: 8rem;
        }
        @include mobile {
            padding: $padding-mobile-top 0 $padding-mobile-bottom 0;
            flex-direction: column-reverse;
            gap: 4.24rem;
        }
    }

    &.in-addition__wrapper {
        @include flex($gap:3rem);
        padding: $padding-desktop-top 0 $padding-desktop-bottom 0;
        @include small-desktop {
            flex-direction: column-reverse;
            gap: 6rem;
        }
        @include mobile {
            padding: $padding-mobile-top 0 $padding-mobile-bottom 0;
            flex-direction: column-reverse;
            gap: 4.2rem;
            align-items: center;
        }
    }

}

.lauout-3col {
    @include flex($gap:16rem, $align-items:flex-start, $justify-content:flex-start);
    padding-bottom: 5.5rem;
    @include small-desktop {
        gap: 6rem;
    }
    @include tablet {
        padding-bottom: 37.3rem;
        justify-content: center;
    }
    @include small-tablet{
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    @include mobile {
        padding-bottom: 30.9rem;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
}