.layout-2col{

    &.not-only__wrapper{    
        background-image:  url(../img/start-screen-puppy.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        @include small-desktop{
            background-size: 45%;
        }
        @include tablet{
            background-size: 56.9rem;
        }
    }

    &.about__wrapper{
        @include flex($gap:12rem,$justify-content:center);
        padding: $padding-desktop-top 0 $padding-desktop-bottom 0;
    }
    
    &.in-addition__wrapper{
        @include flex($gap:3rem);
        padding: $padding-desktop-top 0 $padding-desktop-bottom 0;
    }
}

.lauout-3col{
    @include flex($gap:16rem, $align-items:flex-start);
}