.footer__wrapper {
    background-image: url(../img/95577108af837b8b441616746225b66e.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    background-repeat: repeat;
    padding-top: 4rem;

    @include tablet {
        padding-top: 3rem;
    }
}

.footer__contact-info {
    max-width: 27.8rem;
    padding-top: 1.6rem;

    &>* {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    @include tablet {
        padding-top: 0;
    }

    @include mobile {}
}

.footer__contact-address {
    max-width: 30.2rem;
    padding-top: 1.6rem;

    &>* {
        &:not(:last-child) {
            margin-bottom: 3.4rem;
        }
    }

    @include tablet {
        padding-top: 0;
    }

    @include mobile {
        &>* {
            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }
    }

    &.pets {
        @include mobile {
            &>* {
                &:not(:last-child) {
                    margin-bottom: 3.9rem;
                }
            }
        }
    }
}
    .footer__icon {
        &.email {
            display: block;
            background-image: url(../img/icons/icon-email.svg);
            width: 4rem;
            height: 3.2rem;
            margin-right: 2rem;
        }

        &.phone {
            display: block;
            background-image: url(../img/icons/icon-phone.svg);
            width: 4rem;
            height: 3.2rem;
            margin-right: 2rem;
        }

        &.pin {
            display: block;
            background-image: url(../img/icons/pin.svg);
            width: 4.03rem;
            height: 3.15rem;

        }

        &.pin2 {
            display: block;
            background-image: url(../img/icons/pin.svg);
            width: 2.2rem;
            height: 3.2rem;
            margin-right: 2rem;
        }
    }

    .footer__contact-email,
    .footer__contact-phone,
    .footer__contact-map {
        @include flex($justify-content:flex-start);
        @extend %transition-hover;

        &:hover {
            transform: scale(1.05);
        }

        @include mobile {
            justify-content: center;
        }
    }

    .footer__contact-map {
        @include mobile {
            justify-content: flex-start;
        }
    }

    //.footer__section {
//     background-image: url(../img/footer-puppy.png);
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: bottom right;
//     margin-right: 4rem;

//     @include small-desktop {
//         background-size: 20%;
//     }

//     @include tablet {
//         background-size: 30rem;
//         background-position: bottom center;
//         margin-right: 0;
//     }

//     @include mobile {
//         background-size: 26rem
//     }
//}