.header-welcome__wrapper {
    background-image: url(../img/95577108af837b8b441616746225b66e.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-repeat: repeat;

}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 9rem 0;

    @include tablet {
        padding-bottom: 6rem;
    }

    @include mobile {
        padding: 3rem 1rem 6rem 1rem;
    }
}

.navigation__list {
    display: flex;
    gap: 3.5rem;
    transition: transform .3s linear;

    @include ex-tablet {
        display: none;
    }

    &.active {
        @include ex-tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.active{
    transition: right .3s linear;
}
.header__navigation{
&.close{
    transition: right .3s linear;
    right: -32rem;
}}

.header__navigation {
    transition: right .3s linear;
    height: 0;
    top: 24.8rem;
    
    &.active {
         transition: right .3s linear;
        @include ex-tablet {
          position: absolute;
            padding-top: 24.8rem;
            top: 0;
            right: 0;
            width: 32rem;
            height: 100vh;
            background-color: $color-dark-3xl;
            z-index: 2;
        }

        &.pets {

            @include ex-tablet {
                background-color: $color-light-xl
            }
        }
    }
}