//#331D2C
//#3F2E3E
//#A78295
//#EFE1D1

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #331d2c;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  padding: 2rem;
  margin: 0 auto;
}
.car {
  background-image: url('../assets/image/car-sports-svgrepo-com.svg');
  width: 100px;
  height: 100px;
  background-size: cover;
  transform: scale(-1, 1);
}
