//#331D2C
//#3F2E3E
//#A78295
//#EFE1D1

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #331d2c;
  font-family: 'Open Sans', sans-serif;
}
.main-wrapper {
  padding: 2rem;
  margin: 0 auto;
}
.car {
  background-image: url('../assets/image/car-sports-svgrepo-com.svg');
  width: 100px;
  height: 100px;
  background-size: cover;
  transform: scale(-1, 1);
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 4;
}
.win-message {
  font-size: 3rem;
  font-weight: 700;
  color: #331d2c;
}
.popup-wrapper {
  padding: 3rem;
  background-color: rgba(239, 225, 209, 0.9);
}
