@keyframes move-to-right{
0%{
    right: 108rem;
}
100%{
    right: 216rem;
}
// @include small-desktop{
//     0%{
//         right: -62rem;
//     }
//     100%{
//         right: 0rem;
//     }
// }
}

.transition-right{
    animation: move-to-right 2s;
}

@keyframes move-to-left{
0%{
    left: -108rem;
}
100%{
    left: 0;
}
// @include small-desktop{
//     0%{
//         left: 0;
//     }
//     100%{
//         left: 62rem;
//     } 
// }
 }
.transition-left{
    animation: move-to-left 2s;
}
