@keyframes move-to-right {
    0% {
        left: -1080px;
    }

    100% {
        left: -2160px;
    }
}

@keyframes move-to-left {
    0% {
        left: -1080px;
    }

    100% {
        left: 0;
    }   
}

@media screen and (max-width: 1279px) {
    @keyframes move-to-right {
        0% {
            left: -620px;
        }

        100% {
            left: -1240px;
        }
    }
}

@media screen and (max-width: 1130px) {
    @keyframes move-to-right {
        0% {
            left: -600px;
        }

        100% {
            left: -1200px;
        }
    }
}

@media screen and (max-width: 690px) {
    @keyframes move-to-right {
        0% {
            left: -310px;
        }

        100% {
            left: -620px;
        }
    }
}

@media screen and (max-width: 1279px) {
    @keyframes move-to-left {
        0% {
            left: -620px;
        }

        100% {
            left: 0;
          
        }
    }
    
}

@media screen and (max-width: 1130px) {
    @keyframes move-to-left {
        0% {
            left: -600px;
           
        }

        100% {
            left: 0;
          
        }
    }
}

@media screen and (max-width: 690px) {
    @keyframes move-to-left {
        0% {
            left: -310px;
        }

        100% {
            left: 0;
           
        }
    }

}
.transition-left {
    animation-name: move-to-left;
    animation-duration:1s;
}
.transition-right {
    animation-name: move-to-right;
    animation-duration: 1s;
}
