*::after,
*::before,
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size:1.6rem;
    box-sizing: border-box;
}

.section{
    max-width: 128rem;
    margin: auto;
    padding: 0 4rem;
}
