.slider__text-content, .slider__card, .button__round, .button, .navigation__list-link.active::before, .navigation__list-link::before, .navigation__list-link {
  transition: all 0.5s ease-out;
}

.footer__contact-email,
.footer__contact-phone,
.footer__contact-map, .in-addition__card-number {
  transition: all 0.3s ease;
}

.popup__pet-name, .footer__contact-header, .in-addition__content-heading, .help__heading, .our-friends__heading, .about__content-heading {
  font-family: "Georgia-regular";
  font-size: 3.5rem;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #545454;
}
@media (max-width: 690px) {
  .popup__pet-name, .footer__contact-header, .in-addition__content-heading, .help__heading, .our-friends__heading, .about__content-heading {
    font-size: 2.5rem;
    line-height: 1.3;
    font-style: normal;
    font-weight: 400;
  }
}

.popup__pet-type, .button__round, .slider__card__name, .footer__contact,
.footer__contact--address, .in-addition__card-number, .help__option p {
  font-family: "Georgia-regular";
  font-size: 2rem;
  line-height: 1.15;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.13rem;
  color: #545454;
}

.popup__pet-detailes, .popup__pet-discr, .in-addition__content-subheading {
  font-family: "Georgia-regular";
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.09rem;
  color: #545454;
}

.about__content-subheading {
  font-family: "Arial-regular";
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 400;
  color: #4C4C4C;
}

*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (max-width: 319px) {
  html {
    font-size: 60%;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 1.6rem;
  box-sizing: border-box;
}

.body-scroll {
  overflow: hidden;
}

.section {
  max-width: 128rem;
  margin: auto;
  padding: 0 4rem;
}
@media (max-width: 850px) {
  .section {
    padding: 0 3rem;
  }
}
@media (max-width: 420px) {
  .section {
    padding: 0 1rem;
  }
}

@font-face {
  font-family: "Georgia-Regular";
  src: url(../fonts/georgia/georgia-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Arial-Regular";
  src: url(../fonts/arial/arial-regular.ttf);
  font-weight: 400;
}
.header__logo-title {
  font-family: "Georgia-Regular";
  font-size: 3.2rem;
  line-height: 1.1;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.18rem;
  margin-bottom: 1rem;
}
.header__logo-title a {
  text-decoration: none;
  color: #F1CDB3;
}
.header__logo-title.pets a {
  color: #545454;
}

.header__logo-box {
  transition: all 0.3s ease-in-out;
}
.header__logo-box:hover {
  transform: scale(1.03);
}

.header__logo-subtitle {
  font-family: "Arial-Regular";
  font-size: 1.3rem;
  line-height: 1.15;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.15rem;
}
.header__logo-subtitle.pets {
  color: #292929;
}

.navigation__list {
  font-family: "Arial-Regular";
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 767px) {
  .navigation__list {
    font-size: 3.2rem;
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
  }
}

.navigation__list-item {
  list-style: none;
}

.navigation__list-link {
  text-decoration: none;
  color: #CDCDCD;
  position: relative;
  bottom: 2px;
  right: 2px;
}
.navigation__list-link::before {
  content: "";
  position: absolute;
  top: 2rem;
  height: 0.3rem;
  width: 0;
  left: 50%;
}
@media (max-width: 767px) {
  .navigation__list-link::before {
    top: 4rem;
  }
}
.navigation__list-link:hover {
  color: #FAFAFA;
}
.navigation__list-link:active::before {
  left: 0;
  width: 100%;
  background: #F1CDB3;
}
@media (max-width: 767px) {
  .navigation__list-link:active::before {
    top: 4rem;
  }
}
.navigation__list-link.active {
  color: #FAFAFA;
  cursor: default;
}
.navigation__list-link.active::before {
  content: "";
  position: absolute;
  top: 2.1rem;
  height: 0.3rem;
  left: 0;
  width: 100%;
  background: #F1CDB3;
}
@media (max-width: 767px) {
  .navigation__list-link.active::before {
    top: 4rem;
  }
}
.navigation__list-link.pets {
  color: #545454;
}
@media (max-width: 690px) {
  .navigation__list-link.pets {
    color: #B2B2B2;
  }
}
.navigation__list-link.pets.active {
  color: #292929;
  cursor: default;
}
@media (max-width: 690px) {
  .navigation__list-link.pets.active {
    color: #4C4C4C;
  }
}
.navigation__list-link.pets:hover {
  color: #292929;
}
@media (max-width: 690px) {
  .navigation__list-link.pets:hover {
    color: #292929;
  }
}

/******************************/
.not-only__content-heading {
  max-width: 31rem;
  font-family: "Georgia-Regular";
  font-size: 4.4rem;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 4.2rem;
}
@media (max-width: 420px) {
  .not-only__content-heading {
    max-width: 21.5rem;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.12rem;
  }
}

.not-only__content-subheading {
  font-family: "Arial-Regular";
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
  margin-bottom: 4.2rem;
}
@media (max-width: 420px) {
  .not-only__content-subheading {
    text-align: center;
  }
}

/******************************/
.about__content-heading {
  max-width: 86%;
  margin-bottom: 2.5rem;
}
@media (max-width: 420px) {
  .about__content-heading {
    max-width: 30rem;
    text-align: center;
  }
}

.about__content-subheading:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 420px) {
  .about__content-subheading {
    text-align: justify;
    padding: 0 1.25rem;
    line-height: 1.6;
  }
  .about__content-subheading:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}

/******************************/
.our-friends__heading {
  max-width: 40rem;
  margin: auto;
  margin-bottom: 6rem;
}
@media (max-width: 850px) {
  .our-friends__heading {
    max-width: 40rem;
  }
}
@media (max-width: 420px) {
  .our-friends__heading {
    max-width: 30rem;
    text-align: center;
    margin-bottom: 4.2rem;
    letter-spacing: 0.14rem;
  }
}
@media (max-width: 850px) {
  .our-friends__heading.pets {
    margin-bottom: 3rem;
  }
}
@media (max-width: 420px) {
  .our-friends__heading.pets {
    margin-bottom: 4rem;
  }
}

/******************************/
.help__heading {
  max-width: 31rem;
  margin: auto;
  margin-bottom: 6rem;
}
@media (max-width: 420px) {
  .help__heading {
    max-width: 32rem;
    text-align: center;
    margin-bottom: 4.2rem;
  }
}

@media (max-width: 420px) {
  .help__option p {
    font-size: 1.5rem;
    line-height: 1.15;
    letter-spacing: 0.08rem;
    text-align: center;
  }
}

/******************************/
.in-addition__content-heading {
  max-width: 78.9%;
  margin-bottom: 1.5rem;
}
@media (max-width: 420px) {
  .in-addition__content-heading {
    margin-bottom: 1.8rem;
    max-width: unset;
    text-align: center;
    align-self: center;
  }
}

.in-addition__content-subheading {
  margin-bottom: 1.5rem;
}
@media (max-width: 850px) {
  .in-addition__content-subheading {
    margin-bottom: 2rem;
  }
}
@media (max-width: 420px) {
  .in-addition__content-subheading {
    margin-bottom: 1.8rem;
    text-align: center;
    letter-spacing: 0;
  }
}

.in-addition__card-number {
  letter-spacing: 0.12rem;
  text-decoration: none;
}
.in-addition__card-number:hover {
  color: #292929;
  transform: scale(1.01);
}
@media (max-width: 420px) {
  .in-addition__card-number {
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0.09rem;
  }
}

.in-addition__content-legal {
  font-family: "Arial-Regular";
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
  color: #B2B2B2;
}
@media (max-width: 420px) {
  .in-addition__content-legal {
    padding: 0 1rem;
    text-align: justify;
  }
}

/******************************/
.footer__contact-header {
  color: #FFFFFF;
}
@media (max-width: 420px) {
  .footer__contact-header {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .footer__contact-header.pets {
    max-width: 95%;
    letter-spacing: 0.13rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__contact,
.footer__contact--address {
  color: #F1CDB3;
  display: block;
  letter-spacing: 0.12rem;
  text-decoration: none;
}
@media (max-width: 420px) {
  .footer__contact,
  .footer__contact--address {
    text-align: center;
  }
}

.first {
  position: relative;
  left: 2rem;
}
@media (max-width: 420px) {
  .first {
    text-align: left;
  }
}

/******************************/
.slider__card__name {
  margin-bottom: 2.95rem;
}

@keyframes move-to-right {
  0% {
    left: -108rem;
  }
  100% {
    left: -216rem;
  }
}
.transition-right {
  animation: move-to-right 2s;
}

@keyframes move-to-left {
  0% {
    left: -108rem;
  }
  100% {
    left: 0;
  }
}
.transition-left {
  animation: move-to-left 2s;
}

@keyframes move-to-right-tablet {
  0% {
    left: -62rem;
  }
  100% {
    left: -124rem;
  }
}
.transition-right-tablet {
  animation: move-to-right 2s;
}

@keyframes move-to-left-tablet {
  0% {
    left: -62rem;
  }
  100% {
    left: 0;
  }
}
.transition-left-tablet {
  animation: move-to-left 2s;
}

@keyframes move-to-right-mobile {
  0% {
    left: -31rem;
  }
  100% {
    left: -62rem;
  }
}
.transition-right-mobile {
  animation: move-to-right 2s;
}

@keyframes move-to-left-mobile {
  0% {
    left: -31rem;
  }
  100% {
    left: 0;
  }
}
.transition-left-mobile {
  animation: move-to-left 2s;
}

.header-welcome__wrapper {
  background-image: url(../img/95577108af837b8b441616746225b66e.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-repeat: repeat;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 9rem 0;
}
@media (max-width: 850px) {
  .header__wrapper {
    padding-bottom: 6rem;
  }
}
@media (max-width: 420px) {
  .header__wrapper {
    padding: 3rem 1rem 6rem 1rem;
  }
}

.navigation__list {
  display: flex;
  gap: 3.5rem;
  transition: transform 0.3s linear;
}
@media (max-width: 767px) {
  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .navigation__list.active {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .active_navigation {
    right: 0rem;
  }
}

@media (max-width: 767px) {
  .close_navigation {
    position: relative;
    right: -32rem;
  }
}

@media (max-width: 767px) {
  .header__navigation {
    position: absolute;
    transition: right 0.5s;
    padding-top: 24.8rem;
    top: 0;
    width: 32rem;
    height: 100%;
    background-color: #292929;
    z-index: 2;
  }
}
@media (max-width: 767px) {
  .header__navigation.pets {
    background-color: #FFFFFF;
  }
}

.layout-2col.not-only__wrapper {
  background-image: url(../img/start-screen-puppy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media (max-width: 1130px) {
  .layout-2col.not-only__wrapper {
    background-size: 45%;
  }
}
@media (max-width: 850px) {
  .layout-2col.not-only__wrapper {
    background-size: 56.9rem;
  }
}
@media (max-width: 690px) {
  .layout-2col.not-only__wrapper {
    background-size: 75%;
  }
}
@media (max-width: 420px) {
  .layout-2col.not-only__wrapper {
    background-size: 26rem;
  }
}
.layout-2col.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  padding: 8rem 0 10rem 0;
}
@media (max-width: 850px) {
  .layout-2col.about__wrapper {
    flex-direction: column-reverse;
    gap: 8rem;
  }
}
@media (max-width: 420px) {
  .layout-2col.about__wrapper {
    padding: 4.2rem 0 4.2rem 0;
    flex-direction: column-reverse;
    gap: 4.24rem;
  }
}
.layout-2col.in-addition__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 8rem 0 10rem 0;
}
@media (max-width: 1130px) {
  .layout-2col.in-addition__wrapper {
    flex-direction: column-reverse;
    gap: 6rem;
  }
}
@media (max-width: 420px) {
  .layout-2col.in-addition__wrapper {
    padding: 4.2rem 0 4.2rem 0;
    flex-direction: column-reverse;
    gap: 4.2rem;
    align-items: center;
  }
}

.lauout-3col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16rem;
  padding-bottom: 5.5rem;
  background-image: url(../img/footer-puppy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media (max-width: 1130px) {
  .lauout-3col {
    gap: 6rem;
    background-size: 20%;
  }
}
@media (max-width: 850px) {
  .lauout-3col {
    padding-bottom: 37.3rem;
    justify-content: center;
    background-size: 30rem;
    background-position: bottom center;
    margin-right: 0;
  }
}
@media (max-width: 690px) {
  .lauout-3col {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}
@media (max-width: 420px) {
  .lauout-3col {
    background-size: 26rem;
    padding-bottom: 30.9rem;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}

.footer__wrapper {
  background-image: url(../img/95577108af837b8b441616746225b66e.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  background-repeat: repeat;
  padding-top: 4rem;
}
@media (max-width: 850px) {
  .footer__wrapper {
    padding-top: 3rem;
  }
}

.footer__contact-info {
  max-width: 27.8rem;
  padding-top: 1.6rem;
}
.footer__contact-info > *:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 850px) {
  .footer__contact-info {
    padding-top: 0;
  }
}
.footer__contact-address {
  max-width: 30.2rem;
  padding-top: 1.6rem;
}
.footer__contact-address > *:not(:last-child) {
  margin-bottom: 3.4rem;
}
@media (max-width: 850px) {
  .footer__contact-address {
    padding-top: 0;
  }
}
@media (max-width: 420px) {
  .footer__contact-address > *:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 420px) {
  .footer__contact-address.pets > *:not(:last-child) {
    margin-bottom: 3.9rem;
  }
}

.footer__icon.email {
  display: block;
  background-image: url(../img/icons/icon-email.svg);
  width: 4rem;
  height: 3.2rem;
  margin-right: 2rem;
}
.footer__icon.phone {
  display: block;
  background-image: url(../img/icons/icon-phone.svg);
  width: 4rem;
  height: 3.2rem;
  margin-right: 2rem;
}
.footer__icon.pin {
  display: block;
  background-image: url(../img/icons/pin.svg);
  width: 4.03rem;
  height: 3.15rem;
}
.footer__icon.pin2 {
  display: block;
  background-image: url(../img/icons/pin.svg);
  width: 2.2rem;
  height: 3.2rem;
  margin-right: 2rem;
}

.footer__contact-email,
.footer__contact-phone,
.footer__contact-map {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.footer__contact-email:hover,
.footer__contact-phone:hover,
.footer__contact-map:hover {
  transform: scale(1.05);
}
@media (max-width: 420px) {
  .footer__contact-email,
  .footer__contact-phone,
  .footer__contact-map {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .footer__contact-map {
    justify-content: flex-start;
  }
}

.header__wrapper.pets {
  padding: 3rem 0;
}
@media (max-width: 420px) {
  .header__wrapper.pets {
    padding: 3rem 1rem;
  }
}

.not-only__content {
  max-width: 46rem;
  padding: 16.3rem 0 24.25rem 0;
}
@media (max-width: 1130px) {
  .not-only__content {
    padding-top: 6rem;
  }
}
@media (max-width: 850px) {
  .not-only__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    flex-direction: column;
    max-width: 46rem;
    padding: 0rem 0 69.3rem 0;
    margin: 0 auto;
  }
}
@media (max-width: 690px) {
  .not-only__content {
    padding: 0rem 0 50rem 0;
  }
}
@media (max-width: 420px) {
  .not-only__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 30rem;
    padding: 0rem 0 37.5rem 0;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .not-only__content-btn {
    margin: 0 auto;
  }
}

.button {
  font-family: "Georgia-Regular";
  font-size: 1.7rem;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;
  background-color: #F1CDB3;
  color: #292929;
  border: none;
  border-radius: 10rem;
  display: inline-block;
  padding: 1.5rem 4.5rem;
}
.button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.slider__card__btn {
  background-color: transparent;
  padding: 1.3rem 4.3rem;
  border: 0.2rem solid #F1CDB3;
}
.slider__card__btn:hover {
  background-color: #F1CDB3;
  border: 0.2rem solid #F1CDB3;
  box-shadow: 0 0.2rem 1rem 1rem rgba(13, 13, 13, 0.04);
}

.button__round {
  color: #292929;
  line-height: 1;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 10rem;
  border: 0.2rem solid #F1CDB3;
  background-color: transparent;
}
.button__round:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 0.2rem solid #FDDCC4;
}

.not-act {
  border: 0.2rem solid #CDCDCD;
  color: #CDCDCD;
}
.not-act:hover {
  cursor: not-allowed;
  background-color: transparent;
  border: 0.2rem solid #CDCDCD;
}

.act {
  background-color: #F1CDB3;
}
.act:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: #FDDCC4;
}

.about-bg__wrapper {
  background-color: #FFFFFF;
}

.about__img {
  line-height: 0;
}
.about__img img {
  width: 100%;
}
@media (max-width: 420px) {
  .about__img {
    max-width: 26rem;
  }
}

.about__content {
  max-width: 43rem;
}

.our-friends-bg__wrapper {
  background-color: #F6F6F6;
  position: relative;
}

.our-friends__wrapper {
  padding: 8rem 0 10rem 0;
  text-align: center;
}
@media (max-width: 420px) {
  .our-friends__wrapper {
    padding: 4.2rem 0 4.2rem 0;
  }
}

.slider__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.slider {
  overflow: hidden;
  order: 2;
}
@media (max-width: 420px) {
  .slider {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.left-cards,
.active-cards,
.right-cards {
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 9rem;
}
@media (max-width: 1279px) {
  .left-cards,
  .active-cards,
  .right-cards {
    gap: 4rem;
    max-width: 58rem;
  }
}
@media (max-width: 1130px) {
  .left-cards,
  .active-cards,
  .right-cards {
    gap: 4rem;
  }
}
@media (max-width: 767px) {
  .left-cards,
  .active-cards,
  .right-cards {
    gap: 2rem;
  }
}
@media (max-width: 690px) {
  .left-cards,
  .active-cards,
  .right-cards {
    max-width: 27rem;
    gap: 4rem;
  }
}

.slider__card-conteiner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 9rem;
  position: relative;
  max-width: 99rem;
  left: -108rem;
}
@media (max-width: 1279px) {
  .slider__card-conteiner {
    gap: 4rem;
    max-width: 58rem;
    left: -62rem;
  }
}
@media (max-width: 1130px) {
  .slider__card-conteiner {
    gap: 4rem;
    left: -60rem;
  }
}
@media (max-width: 767px) {
  .slider__card-conteiner {
    gap: 2rem;
  }
}
@media (max-width: 690px) {
  .slider__card-conteiner {
    max-width: 27rem;
    gap: 4rem;
    left: -31rem;
  }
}

.slider__card {
  flex-shrink: 0;
  max-width: 27rem;
  border-radius: 0.9rem;
  background-color: #FAFAFA;
  overflow: hidden;
}
.slider__card:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
}
.slider__card:hover .slider__text-content {
  background-color: #FFFFFF;
}
.slider__card:hover .slider__card__btn {
  background-color: #F1CDB3;
  border-radius: #F1CDB3;
}
.slider__text-content {
  padding: 3rem 0;
}

.slider__card__img {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.slider__card__img img {
  max-height: 27rem;
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.slider__btn--right {
  flex-shrink: 0;
  margin-left: 5.3rem;
  order: 3;
}
.slider__btn--right span {
  background-image: url(../img/icons/Arrow.svg);
  width: 1.4rem;
  height: 0.6rem;
  display: block;
}
@media (max-width: 1130px) {
  .slider__btn--right {
    margin-left: 1.2rem;
  }
}
@media (max-width: 767px) {
  .slider__btn--right {
    margin-left: 13.5rem;
    position: absolute;
    bottom: -7rem;
  }
}

.slider__btn--left {
  flex-shrink: 0;
  margin-right: 5.3rem;
  order: 1;
}
.slider__btn--left span {
  background-image: url(../img/icons/Arrow.svg);
  width: 1.4rem;
  height: 0.6rem;
  display: block;
  transform: rotate(180deg);
}
@media (max-width: 1130px) {
  .slider__btn--left {
    margin-right: 1.2rem;
  }
}
@media (max-width: 767px) {
  .slider__btn--left {
    margin-right: 13.5rem;
    order: 2;
    position: absolute;
    bottom: -7rem;
  }
}

@media (max-width: 767px) {
  .our-friends__btn {
    margin-top: 4.2rem;
  }
}
@media (max-width: 690px) {
  .our-friends__btn {
    margin-top: 4.2rem;
  }
}
@media (max-width: 420px) {
  .our-friends__btn {
    margin-top: 10.2rem;
  }
}

.help-bg__wrapper {
  background-color: #FFFFFF;
}

.help__wrapper {
  padding: 8rem 0 10rem 0;
  text-align: center;
}
@media (max-width: 850px) {
  .help__wrapper {
    padding: 8rem 0 10rem 0;
  }
}
@media (max-width: 420px) {
  .help__wrapper {
    padding: 4.2rem 0 4.2rem 0;
  }
}

.help__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  gap: 12rem;
  row-gap: 5.5rem;
  max-width: 90%;
  margin: auto;
}
@media (max-width: 850px) {
  .help__options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    row-gap: 5.3rem;
  }
}
@media (max-width: 690px) {
  .help__options {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    row-gap: 3rem;
  }
}

.help__option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  align-self: center;
}
@media (max-width: 420px) {
  .help__option {
    gap: 2rem;
  }
}
.help__option span {
  display: block;
  width: 6rem;
  height: 6rem;
}
@media (max-width: 420px) {
  .help__option span {
    width: 5rem;
    height: 5rem;
    background-size: contain;
  }
}
.help__option .pet-food {
  background-image: url(../img/icons/icon-pet-food.svg);
}
.help__option .pet-food {
  background-image: url(../img/icons/icon-pet-food.svg);
}
.help__option .transportation {
  background-image: url(../img/icons/icon-transportation.svg);
}
.help__option .toys {
  background-image: url(../img/icons/icon-toys.svg);
}
.help__option .bowls-and-cups {
  background-image: url(../img/icons/icon-bowls-and-cups.svg);
}
.help__option .shampoos {
  background-image: url(../img/icons/icon-shampoos.svg);
}
.help__option .vitamins {
  background-image: url(../img/icons/icon-vitamins.svg);
}
.help__option .medicines {
  background-image: url(../img/icons/icon-medicines.svg);
}
.help__option .collars {
  background-image: url(../img/icons/icon-collars-leashes.svg);
}
.help__option .sleeping-areas {
  background-image: url(../img/icons/icon-sleeping-area.svg);
}
.help__option:last-child {
  margin-right: 0;
}

.in-addition-bg__wrapper {
  background-color: #F6F6F6;
}

.in-addition__content {
  max-width: 38rem;
}
@media (max-width: 420px) {
  .in-addition__content {
    max-width: 30rem;
  }
}

.in-addition__img {
  line-height: 0;
}
@media (max-width: 690px) {
  .in-addition__img img {
    max-width: 40rem;
  }
}
@media (max-width: 420px) {
  .in-addition__img img {
    max-width: 26rem;
  }
}

.in-addition__card {
  margin-bottom: 1.8rem;
  padding: 1rem 1.5rem;
  background-color: #F1CDB3;
  border-radius: 0.9rem;
  display: inline-flex;
}
@media (max-width: 420px) {
  .in-addition__card {
    padding: 1rem 1.4rem;
    align-items: center;
    margin: 0 1rem;
    margin-bottom: 2rem;
  }
}

.in-addition__card-ico {
  background-image: url(../img/icons/icon-credit-card.svg);
  width: 3rem;
  height: 2.3rem;
  display: inline-block;
  margin-right: 1.5rem;
}
@media (max-width: 420px) {
  .in-addition__card-ico {
    width: 3rem;
    height: 2.3rem;
    align-items: center;
  }
}

.header__burger {
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header__burger {
    visibility: visible;
    position: relative;
    width: 30px;
    height: 22px;
    margin-left: auto;
    z-index: 3;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    background-color: #F1CDB3;
    width: 100%;
    height: 2px;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: calc((100% - 2px) / 2);
    background-color: #F1CDB3;
  }
}
.header__burger.pets::after, .header__burger.pets::before {
  background-color: #292929;
}
.header__burger.pets span {
  background-color: #292929;
}
.header__burger.active {
  transform: rotate(90deg);
}

.overlay.active {
  background-color: rgba(41, 41, 41, 0.6);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 850px) {
  .our-friends__wrapper.pets {
    padding-bottom: 7.7rem;
  }
}
@media (max-width: 420px) {
  .our-friends__wrapper.pets {
    padding-bottom: 4.4rem;
  }
}

.slider__pets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  row-gap: 3rem;
}

@media (max-width: 850px) {
  .slider__card:nth-child(7), .slider__card:nth-child(8) {
    display: none;
  }
}
@media (max-width: 420px) {
  .slider__card:nth-child(4), .slider__card:nth-child(5), .slider__card:nth-child(6) {
    display: none;
  }
}

.slider__pets--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 6rem;
}
@media (max-width: 850px) {
  .slider__pets--nav {
    padding-top: 4rem;
  }
}
@media (max-width: 420px) {
  .slider__pets--nav {
    padding-top: 4.2rem;
    gap: 1rem;
  }
}

.popup {
  background-color: #FAFAFA;
  border-radius: 0.9rem;
  display: flex;
  position: relative;
  width: 90rem;
}
@media (max-width: 1130px) {
  .popup {
    width: 63rem;
  }
}
@media (max-width: 850px) {
  .popup {
    width: 27rem;
  }
}

.popup__close-btn {
  cursor: pointer;
  position: absolute;
  right: -5rem;
  top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
}
@media (max-width: 850px) {
  .popup__close-btn {
    right: -3.5rem;
    top: -5rem;
  }
}

.popup__contern {
  max-width: 40rem;
  padding: 5rem 2rem 5rem 3rem;
}
@media (max-width: 1130px) {
  .popup__contern {
    padding: 1rem;
  }
}

.popup__pet-name {
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .popup__pet-name {
    text-align: center;
  }
}

.popup__pet-type {
  margin-bottom: 3rem;
}
@media (max-width: 1130px) {
  .popup__pet-type {
    margin-bottom: 1rem;
  }
}
@media (max-width: 850px) {
  .popup__pet-type {
    text-align: center;
  }
}

.popup__pet-discr {
  margin-bottom: 3rem;
  line-height: 1.1;
}
@media (max-width: 1130px) {
  .popup__pet-discr {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
.popup__pet-detailes {
  letter-spacing: 0.14rem;
  color: #000;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 1.3rem;
}
.popup__pet-detailesb {
  font-weight: 700;
}
@media (max-width: 1130px) {
  .popup__pet-detailes {
    margin-bottom: 0rem;
  }
}
.popup__pet-detailes::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #F1CDB3;
  top: 0.9rem;
  left: -1.4rem;
}

.close {
  display: none;
}

.open {
  display: flex;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 3;
}
@media (max-width: 1130px) {
  .open {
    top: 40%;
  }
}
@media (max-width: 850px) {
  .open {
    top: 45%;
  }
}
.open.pets {
  top: 50%;
  left: 50vw;
}

.popup__img {
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  width: 50rem;
  height: 50rem;
}
@media (max-width: 1130px) {
  .popup__img {
    width: 35rem;
    height: 35rem;
  }
}
@media (max-width: 850px) {
  .popup__img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
