//COLORS
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s:#FAFAFA;
$color-light-l:#F6F6F6;
$color-light-xl:#FFFFFF;

$color-dark-s:#CDCDCD;
$color-dark-m:#B2B2B2;
$color-dark-l:#545454;
$color-dark-xl:#4C4C4C;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;

//GRADIENTS
$start-screen-gradient-background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$footer-gradient-background:radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

//PADDINGS PAGE
$padding-desktop: 4rem;
$padding-desktop-top:8rem;
$padding-desktop-bottom:10rem;

$padding-tablet: 3rem;
$padding-tablet-top:8rem;
$padding-tablet-bottom:10rem;

$padding-mobile: 1rem;
$padding-mobile-top:4.2rem;
$padding-mobile-bottom:4.2rem;

$padding-tablet-pets-top:6rem;
$padding-tablet-pets-bottom:7rem;


//WIDTH
$content-widht: 128rem;

$media-widht-desktop: 1279px;
$media-widht-desktop-s: 1115px;
$media-widht-tablet-m: 850px;
$media-widht-tablet-s:767px;
$media-widht-tablet-xs:690px;
$media-widht-mobile: 420px;



