.header__burger {
    visibility: hidden;
    transition: all .5s ease-in-out;
    cursor: pointer;

    @include ex-tablet {
        visibility: visible;
        position: relative;
        width: 30px;
        height: 22px;
        margin-left: auto;
        z-index: 3;

        &::after,
        &::before {
            content: "";
            position: absolute;
            background-color: $color-primary;
            width: 100%;
            height: 2px;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }

        & span {
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            top: calc((100% - 2px)/2);
            background-color: $color-primary;
        }
    }


    &.pets {

        &::after,
        &::before {
            background-color: $color-dark-3xl;
        }

        & span {
            background-color: $color-dark-3xl;
        }
    }

    &.active {
        transform: rotate(90deg);
    }
}

.overlay{
    transition: all .3s linear;
    &.active{
    background-color: rgba(41, 41, 41, .6);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    }
}