.button {
    font-family: "Georgia-Regular";
    @include font(1.7rem, 1.3);
    letter-spacing: 0.1rem;
    text-decoration: none;

    background-color: $color-primary;
    color: $color-dark-3xl;
    border: none;
    border-radius: 10rem;

    display: inline-block;
    padding: 1.5rem 4.5rem;

    @extend %transition;

    &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
    }
}

.slider__card__btn {
    background-color: transparent;
    padding: 1.3rem 4.3rem;
    border: 0.2rem solid $color-primary;

    &:hover {
        background-color: $color-primary;
        border: 0.2rem solid $color-primary;
        box-shadow:0 0.2rem 1rem 1rem rgba(13, 13, 13, 0.04);
    }
}

.button__round {
    @extend %h4;
    color: $color-dark-3xl;
    line-height: 1;

    width: 5.2rem;
    height: 5.2rem;

    border-radius: 10rem;
    border: 0.2rem solid $color-primary;
    background-color: transparent;
    @extend %transition;

    &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
        border: 0.2rem solid $color-primary-light;
    }
}

.not-act {
    border: 0.2rem solid $color-dark-s;
    color: $color-dark-s;

    &:hover {
        cursor: not-allowed;
        background-color: transparent;
        border: 0.2rem solid $color-dark-s;
    }
}

.act{
    background-color: $color-primary;
    &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
       border: $color-primary-light;
    }
}