.help-bg__wrapper {
    background-color: $color-light-xl;
}

.help__wrapper {
    padding: $padding-desktop-top 0 $padding-desktop-bottom 0;
    text-align: center;

    @include tablet {
        padding: $padding-tablet-top 0 $padding-tablet-bottom 0;
    }
    @include mobile {
        padding: 3.9rem 0 $padding-mobile-bottom 0;
    }
}

.help__options {
    @include flex($justify-content:center);
    flex-wrap: wrap;
    gap: 12rem;
    row-gap: 5.5rem;
    max-width: 90%;
    margin: auto;

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6rem;
        row-gap: 5.3rem;
    }
    @include mobile {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        row-gap: 3rem;
    }
}

.help__option {
    @include flex($gap:3rem);
    flex-direction: column;
    align-self: center;

    @include mobile {
      gap: 2rem;
    }
    & span{
        display: block;
        width: 6rem;
        height: 6rem;
        @include mobile {
            width: 5rem;
            height: 5rem;
            background-size: contain;
        }
    }

    .pet-food {
        background-image: url(../img/icons/icon-pet-food.svg);
    }

    .pet-food {
        background-image: url(../img/icons/icon-pet-food.svg);
    }

    .transportation {
        background-image: url(../img/icons/icon-transportation.svg);
    }

    .toys {
        background-image: url(../img/icons/icon-toys.svg);
    }

    .bowls-and-cups {
        background-image: url(../img/icons/icon-bowls-and-cups.svg);
    }

    .shampoos {
        background-image: url(../img/icons/icon-shampoos.svg);
    }

    .vitamins {
        background-image: url(../img/icons/icon-vitamins.svg);
    }

    .medicines {
        background-image: url(../img/icons/icon-medicines.svg);
    }

    .collars {
        background-image: url(../img/icons/icon-collars-leashes.svg);
    }

    .sleeping-areas {
        background-image: url(../img/icons/icon-sleeping-area.svg);
    }

    &:last-child {
        margin-right: 0;
    }
}