.not-only__content{
    max-width: 46rem;
    padding: 16.3rem 0 24.25rem 0;
    @include small-desktop{
        padding-top:6rem;
    }

    @include tablet{
        @include flex($align-items:flex-start);
        flex-direction: column;
        max-width: 46rem;
        padding: 0rem 0 69.3rem 0;
        margin: 0 auto;
    }
    @include small-tablet{
        padding: 0rem 0 50rem 0;
    }
    @include mobile{
        @include flex($align-items:center ,$justify-content: center);
        max-width: 30rem;
        padding: 0rem 0 37.5rem 0;
        margin: 0 auto;
    }
}
.not-only__content-btn{
    @include tablet{
      margin: 0 auto;
    }
}

// .not-only__img{
//     max-width: 58.2%;
//     line-height: 0;
//     position: absolute;
//     bottom: 0;
//     right: 0;
  
//     img{
//         max-width: 100%;
//         max-height: 100%;
//     }
// }