.our-friends-bg__wrapper {
    background-color: $color-light-l;
    position: relative;
}

.our-friends__wrapper {
    padding: $padding-desktop-top 0 $padding-desktop-bottom 0;
    text-align: center;

    @include mobile{
        padding: $padding-mobile-top 0 $padding-mobile-bottom 0;
    }
}

.slider__wrapper {
    position: relative;
    @include flex();
    margin: 0 auto;
    margin-bottom: 6rem;
}
.slider {
    overflow: hidden;
    order: 2;


    @include mobile {
        flex-direction: column;
        margin-bottom: 1rem;
    }

}
.left-cards,
.active-cards,
.right-cards{
    transition: all 1s ease-in-out;
    @include flex($gap:9rem, $justify-content: flex-start);
    @include desktop {
        gap: 4rem;
        max-width: 58rem;
    }
    @include small-desktop {
       // justify-content: center;
        gap: 4rem;
    }
    @include ex-tablet {
        gap: 2rem;
    }
     @include  small-tablet {
        max-width: 27rem;
        gap: 4rem;
        
    }
}

.slider__card-conteiner {
    @include flex($gap:9rem, $justify-content: flex-start);
    position: relative;
    max-width: 99rem;
    left: -108rem;

    @include desktop {
        gap: 4rem;
        max-width: 58rem;
        left: -62rem;
    }
    @include small-desktop {
       // justify-content: center;
        gap: 4rem;
        left: -60rem;
    }
    @include ex-tablet {
        gap: 2rem;
    }
     @include  small-tablet {
        max-width: 27rem;
        gap: 4rem;
        left: -31rem;
        
    }
}

.slider__card {
    flex-shrink: 0;
    max-width: 27rem;
    border-radius: 0.9rem;
    background-color: $color-light-s;
    overflow: hidden;
    @extend %transition;

    &:hover {
        cursor: pointer;
      //  transform: scale(0.95);
        box-shadow:0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);

        .slider__text-content {
            background-color: $color-light-xl;
        }
        .slider__card__btn{
            background-color: $color-primary;
            border-radius: $color-primary;
        }
    }

    @include tablet {
      //  max-width: 58rem;
    
    }
}

.slider__text-content {
    padding: 3rem 0;
    @extend %transition;
}

.slider__card__img {
    line-height: 0;
    @include flex();

    img {
        max-height: 27rem;
    }
}


.slider__btn {
    @include flex();
}

.slider__btn--right {
    flex-shrink: 0;
    margin-left: 5.3rem;
    order: 3;

    span {
        background-image: url(../img/icons/Arrow.svg);
        width: 1.4rem;
        height: 0.6rem;
        display: block;
    }

    @include small-desktop {
        margin-left: 1.2rem;
    }
    @include ex-tablet{
        margin-left:13.5rem;
        position: absolute;
        bottom: -7rem;
    }
    
}

.slider__btn--left {
    flex-shrink: 0;
    margin-right: 5.3rem;
    order: 1;

    span {
        background-image: url(../img/icons/Arrow.svg);
        width: 1.4rem;
        height: 0.6rem;
        display: block;
        transform: rotate(180deg);
    }

    @include small-desktop {
        margin-right: 1.2rem;
    }

    @include ex-tablet{
        margin-right:13.5rem;
        order: 2;
        position: absolute;
        bottom: -7rem;
    }
}
.our-friends__btn{
    @include ex-tablet{  
        margin-top: 4.2rem;
      }
    @include small-tablet{  
          margin-top: 4.2rem;
        }
        @include mobile{  
            margin-top: 10.2rem;
          }

}