.our-friends-bg__wrapper {
    background-color: $color-light-l;
}

.our-friends__wrapper {
    padding: $padding-desktop-top 0 $padding-desktop-bottom 0;
    text-align: center;
}

.slider {
    @include flex($gap:9rem);
    position: relative;
    margin-bottom: 6rem;
}

.slider__card {
    max-width: 22.5%;
    border-radius: 0.9rem;
    background-color: $color-light-s;
    overflow: hidden;
    @extend %transition;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow:  0 1rem 3rem rgba(74,74,74,0.1);

        .slider__text-content{
            background-color: $color-light-xl;
        }
    }
}

.slider__text-content{
    padding: 3rem 0;
    @extend %transition;
}
.slider__card__img {
    line-height: 0;
    @include flex();
    img {
        max-height: 27rem;
    }
}

.slider__btn {
    position: absolute;
}

.slider__btn--rigth {
    right: 0;
    @include flex();

    span {
        background-image: url(../img/icons/Arrow.svg);
        width: 1.4rem;
        height: 0.6rem;
        display: block;
    }
}

.slider__btn--left {
    left: 0;
    @include flex();

    span {
        background-image: url(../img/icons/Arrow.svg);
        width: 1.4rem;
        height: 0.6rem;
        display: block;
        transform: rotate(180deg);
    }
}