.our-friends__wrapper {
    &.pets {
        @include tablet {
            padding-bottom: 7.7rem;
        }
        @include mobile {
            padding-bottom: 4.4rem;
        }
    }
}

.slider__pets {
    @include flex($gap:4rem);
    flex-wrap: wrap;
    row-gap: 3rem;
}

.slider__card {
    @include tablet {
        // max-height: 139.5rem;
        // overflow: hidden;
        // &:nth-child(7),
        // &:nth-child(8){
        //     display: none;
        // }
    }   @include mobile {
        // max-height: 139.5rem;
        // overflow: hidden;
        // &:nth-child(4),
        // &:nth-child(5),
        // &:nth-child(6){
        //     display: none;
        // }
    }
}
.slider__pets--nav {
    @include flex($gap:2rem);
    padding-top: 6rem;

    @include tablet {
        padding-top: 4rem;
    }

    @include mobile {
        padding-top: 4.2rem;
        gap: 1rem
    }
}