.car-name {
  color: #a78295;
  font-size: 1.6rem;
}

.row1 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.8rem;
}
.row2 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  align-items: flex-end;
}
.engine-btn-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-self: center;
}
.engine-btn {
  background-color: #a78295;
  color: #331d2c;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 0.8rem;
  transition: all 0.3s;
}

.engine-btn:hover {
  background-color: #c78295;
}
.engine-btn:active {
  background-color: #c78295;
  transform: scale(0.97);
}
//#331D2C
//#3F2E3E
//#A78295
//#EFE1D1
