.heading {
  color: #efe1d1;
  font-size: 3rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  gap: 2rem;
}
.nav a {
  color: #a78295;
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #efe1d1;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: all 0.3s;
  cursor: pointer;
  line-height: 1;
}
.nav a:hover {
  background-color: #efe3ee;
}
.nav a:active {
  transform: scale(0.98);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.subtitle {
  color: #a78295;
  font-size: 3rem;
}
.header__text-wrappter {
  display: flex;
  gap: 8px;
  align-items: start;
}
.header__content-wrappter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__year {
  color: #efe1d1;
}

.header__link-scholl {
  background-image: url(https://rs.school/images/partners/logo-rs.svg);
  width: 3rem;
  height: 3rem;
  @media (max-width: 900px) {
    width: 3rem;
    height: 3rem;
  }
}
.header__link-github {
  background-image: url(https://static-00.iconduck.com/assets.00/github-icon-512x499-ziwq0a1i.png);
  width: 3rem;
  height: 2.2rem;
  @media (max-width: 900px) {
    width: 3rem;
    height: 2.2rem;
  }
}
.header__link-scholl,
.header__link-github {
  text-decoration: none;
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.header__link-scholl:hover,
.header__link-github:hover {
  transform: scale(1.1);
}
.header__link {
  text-decoration: none;
  color: inherit;
}
.header__link:hover {
  text-decoration: underline;
}
