.title {
  color: #efe1d1;
  font-size: 2rem;
  padding-bottom: 1.2rem;
}
.subtitle-page {
  color: #efe1d1;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.next-btn {
  margin-right: 2rem;
}
.winners-wrapper {
  padding: 3rem 0;
}

.table-container {
  color: #efe1d1;
  width: 50%;
}
.table-row {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 30px 30px 60px 50px 60px;
}
.table-img-winner svg {
  width: 2rem;
  height: 2rem;
}
.wrapper-page_controller {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}
.wrapper-page_controller .subtitle-page {
  padding: 0;
}
.win-page-btn {
  align-self: center;
}

.disabled {
  color: aliceblue;
  background-color: #aaa;
  border: 1px solid #aaa;
}
.btn.disabled:hover {
  cursor: not-allowed;
  background-color: #aaa;
  border: 1px solid #aaa;
}
.btn.disabled:active {
  cursor: not-allowed;
  transform: scale(1);
}
