.sub-heading {
  padding: 2rem 1rem;
  @media (max-width: 900px) {
    font-size: 1.8rem;
  }
}

.levels-of-game__wrapper {
  background: #444;
  height: 100%;

  @media (max-width: 400px) {
    height: 30vh;
  }
}
.levels-list {
  line-height: 1.5;
  @media (max-width: 900px) {
    font-size: 1.2rem;
  }
  @media (max-width: 700px) {
    font-size: 1rem;
  }
  @media (max-width: 400px) {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
  }
}
.levels-list__name {
  padding-left: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.levels-list__name:hover {
  background: rgba(255, 255, 255, 0.05);
}
.checkmark {
  display: inline-block;
  margin-right: 10 px;
  width: 8px;
  height: 13px;
  opacity: 2;
  border: solid 3px white;
  border-width: 0 3px 3px 0;
  opacity: 0.2;
  transform: rotate(40deg);
}
.active {
  background: rgba(255, 255, 255, 0.05);
}
.completed .checkmark {
  opacity: 0.55;
  border: solid 3px #4cbb4a;
  border-width: 0 3px 3px 0;
}
