.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  @media (max-width: 900px) {
    padding: 1rem 0;
    padding-left: 1rem;
  }
}
