.table-wrapper {
  padding-bottom: 2rem;
}

.table-box {
  margin-top: 10px;
  transform: rotateX(20deg);
  min-height: 142px;
  transform-origin: bottom;
  z-index: 9999;
  position: relative;
  margin: 10px auto 0 auto;
  width: 534px;
  @media (max-width: 900px) {
    width: 320px;
  }
}
.table {
  // clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  box-shadow: 0px 40px 10px rgba(0, 0, 0, 0.1);
  background: #ee881a;
  background: -webkit-linear-gradient(#ee881a, #ed8c26);
  background: linear-gradient(#ee881a, #ee8c26);
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
  // display: inline-block;
  @media (max-width: 900px) {
    width: 100%;
  }
}
.table-top {
  margin: 0px auto 0px auto;
  min-height: 142px;
  padding: 15px px 15px 22px 15px;
  display: flex;
  flex-grow: 1;
  z-index: 999;
  position: relative;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  @media (max-width: 900px) {
    // width: 50%;
  }
}
.table-bottom {
  margin: 0 auto 10px auto;
  background: #bc841b;
  height: 15px;
  transform: rotateX(-40deg);
  transform-origin: top;
  z-index: 2;
  width: 534px;
  @media (max-width: 900px) {
    width: 320px;
  }
}
.table-leg {
  width: 24px;
  height: 10px;
  background: #96550e;
  position: absolute;
  top: 15px;
  @media (max-width: 900px) {
    width: 15px;
  }
}

.table-leg:first-child {
  left: 20px;
}
.table-leg:last-child {
  right: 20px;
}
// .table > * {
//   transform: skew(11deg, 346deg);
// }
